SLEEPSTYLE_API_BASE_URL=https://sleepstyle-api.fphcare.com/api/v1
SLEEPSTYLE_WEB_URL=https://sleepstyle.fphcare.com
SLEEPSTYLE_PRODUCT_FAMILY=SleepStyle
SLEEPSTYLE_PRODUCT_MODEL=Auto
SLEEPSTYLE_PRODUCT_CULTURE=en-US
SLEEPSTYLE_UTC_OFFSET=9
